# Environnements virtuels
venv/
.env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks checkpoints
*.ipynb_checkpoints/
# 
test_garb_class.py
garb_class.py
check_and_install.py
config.py
test_api.py
glass2.jpg
# Fichiers modèles et archives
*.h5
*.zip
garbage-classification.zip
garbage-classification/
*.sqlite3
Dashboard/static/comparaison_modeles.png
# Fichiers système
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit logs
Dashboard/prediction_logs.csv

# Kaggle API key
kaggle.json


# Le dossier deployment 
deployment/
.gitignore/