flask
flask-restful
flask-cors
numpy
opencv-python
tensorflow-cpu==2.11.0
gdown
streamlit
requests
pandas
matplotlib
kaggle
keras
lazypredict
loguru
Pillow
pytest
scikeras
scikit_learn
seaborn
mlflow
gunicorn
streamlit-option-menu